@using Core.Models

<div class="annonce-box">
    

    <img class="annonce-image" src="@Annonce.Image" alt="@Annonce.Title"/>

    <div class="annonce-body">
        <h4>@Annonce.Title</h4>

        <p class="annonce-meta">
            @Annonce.Type · @Annonce.Size · @Annonce.Price kr
        </p>

        <p class="annonce-description">@Annonce.Description</p>
        <button class="køb-knap"
                @onclick="() => OnKøb.InvokeAsync(Annonce.Id)">
            KØB
        </button>
    </div>

</div>

@code {
    [Parameter] public Annonce Annonce { get; set; }
    [Parameter] public EventCallback<string> OnKøb { get; set; }
}