@page "/Mine_køb"
@attribute [Authorize]
@using ClientApp.Service
@using Core.Models
@inject HttpClient Http
@inject PurchaseState PurchaseState
@inject UserState UserState


<h3>Købsanmodninger:</h3>

@if (anmodningliste == null)
{
    <p>Ingen køb endnu homie </p>
}
else
{
    <div class="container mt-3">
        <div class="row">
            @foreach (var annonce in anmodningliste)
            {
                <div class="col-12 mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">

                            <h5 class="card-title">@annonce.Title</h5>

                            <p class="card-text mb-1">@annonce.Description</p>
                            <p class="card-text fw-bold">Pris: @annonce.Price kr</p>
                            <p class="card-text">
                                <span class="badge bg-info">@annonce.Status</span>
                            </p>

                            <div class="text-end">
                                <button class="btn btn-danger btn-sm"
                                        @onclick="() => ChangeAnnonce(annuller)">
                                    Annuller
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}

<h3>Købshistorik:</h3>

@if (købhistorik != null){
    foreach (var annonce in købhistorik)
    {
        <div class="annonce-box">


            <img class="annonce-image" src="@annonce.Image" alt="@annonce.Title"/>

            <div class="annonce-body">
                <h4>@annonce.Title</h4>

                <p class="annonce-meta">
                    @annonce.Type · @annonce.Size · @annonce.Price kr
                </p>

                <p class="annonce-description">@annonce.Description</p>

            </div>

        </div>
    }
}

@code {

    [Inject] private IAnnonce annonceService { get; set; }
    
    private List<Annonce> anmodningliste;
    
    private List<Annonce> købhistorik;

    private Annonce selectedannonce;

    private string annuller = "aktiv";
    
    private async Task ChangeAnnonce(string newStatus)
    {
        Console.WriteLine("Prøvede at annuller købsanmodning");
        if (selectedannonce != null)
        {
            if (newStatus != null){
                
                selectedannonce.Status = newStatus;
                await annonceService.UpdateAnnonce(selectedannonce);
            }
        }
        StateHasChanged();
    }
    
    
    protected override async Task OnInitializedAsync()
    {
        var result = await annonceService.GetAll();

        Console.WriteLine("ANTAL ANNONCER FRA SERVER: " + result.Count());
        if (UserState.CurrentUser != null){
            købhistorik = result
                .Where(a => a.Køber_Id == UserState.CurrentUser.Id && a.Status == "godkend")
                .ToList();
        }
        
        if (UserState.CurrentUser != null){
            anmodningliste = result
                .Where(a => a.Køber_Id == UserState.CurrentUser.Id && a.Status == "reserveret")
                .ToList();
            
        }
    }
    
}
}