@page "/Mine_annoncer"
@using Core.Models
@using ClientApp.Service
@using ClientApp.Components
@using System.Linq
@inject UserState UserState

<p>Viser Brugerens egne oprettede annoncer</p>
<ul class="list-group">
    
    <li class="list-group-item d-flex justify-content-between align-items-center fw-bold bg-light">
        <div class="fw-bold">Titel</div>
        <div>Beskrivelse</div>
        <div>Pris</div>
        <div>Farve</div>
        <div>Størrelse</div>
        <div>Lokale</div>
        <div>Status</div>

        <div></div>
    </li>
    
    @if(annoncelist != null){
        foreach (var annonce in annoncelist)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="fw-bold">@annonce.Title</div>
            <div>@annonce.Description</div>
            <div>@annonce.Price</div>
            <div>@annonce.Color</div>
            <div>@annonce.Size</div>
            <div>@annonce.lokale.Name</div>
            <div>@annonce.Status</div>
            
            <button class="btn btn-sm btn-primary" 
                    @onclick="() => OpenModal(annonce)">
                Opdater
            </button>

          
        </li>
    }
    }
</ul>
@if (showModal)
{
    <div class="modal d-block" style="background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Opdater Åbningstid</h5>
                    <button class="btn-close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <label>Fra:</label>
                    <InputSelect @bind-Value="newStatus">
                        @foreach (var cat in statuscategories)
                        {
                            <option value="@cat">@cat</option>
                        }
                    </InputSelect>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="CloseModal">Cancel</button>
                    <button class="btn btn-primary" @onclick="ChangeAnnonce">Save</button>
                </div>
            </div>
        </div>
    </div>
}


@code {
    [Inject] private IAnnonce annonceService { get; set; }
    
    private bool showModal = false;

    private string newStatus;

    private List<string> statuscategories = new List<string> { "aktiv", "godkendt", "afvist","skjul" };
    
    private Annonce selectedannonce;
    
    private List<Annonce> annoncelist;
    
    private void OpenModal(Annonce annonce)
    {
        selectedannonce = annonce;
        showModal = true;
    }

    private void CloseModal()
    {
        showModal = false;
    }

    private async Task ChangeAnnonce()
    {
        if (selectedannonce != null)
        {
            if (newStatus != null){
                
            selectedannonce.Status = newStatus;
            await annonceService.UpdateStatus(selectedannonce);
            }
        }

        CloseModal();
    }

    protected override async Task OnInitializedAsync()
    {
        var result = await annonceService.GetAll();

        Console.WriteLine("ANTAL ANNONCER FRA SERVER: " + result.Count());
        if (UserState.CurrentUser != null){
        annoncelist = result
            .Where(a => a.Sælger_Id == UserState.CurrentUser.Id)
            .ToList();
        }
    }
}
