@using Core.Models
@using ClientApp.Service

@page "/OpretAnnoncePage"
<h3>OpretAnnoncePage</h3>

<EditForm Model="@annonce" OnValidSubmit="@HandleSubmit" class="row p-3">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="col-md-12 mb-3">
        <label for="Name">Name</label>
        <InputText id="Name" @bind-Value="annonce.Description" class="form-control" />
    </div>
    
    <div class="col-md-6 mb-3">
        <label for="Price">Price</label>
        <InputNumber id="Price" @bind-Value="annonce.Price" class="form-control" />
    </div>
    
    
    <div class="col-md-12 mb-3">
        <label for="Category">Tøj kategori</label>
        <InputSelect id="Category" @bind-Value="annonce.Type"> 
            @foreach (var cat in tøjcategories)
            {
                <option value="@cat">@cat</option>
            }
        </InputSelect>
    </div>
    
    <div class="col-md-12 mb-3">
        <label for="Category">Størrelse</label>
        <InputSelect id="Category" @bind-Value="annonce.Size"> 
            @foreach (var cat in sizecategories)
            {
                <option value="@cat">@cat</option>
            }
        </InputSelect>
    </div>

    
    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
    
    <div class="col-12 mb-3">
        <button type="reset" class="btn btn-primary">Reset</button>
    </div>

</EditForm> 

@if (annoncetoshow != null)
{
    <div class="annonce-card">
        <img src="@annoncetoshow.Image" width="200"/>
        <h3>@annoncetoshow.Description</h3>
        <p>@annoncetoshow.Price kr.</p>
    </div>
}

@code {
    
    private List<string> tøjcategories = new List<string> { "tøj", "bukser", "hat" };
    
    private List<string> sizecategories = new List<string> { "tøj", "bukser", "hat" };
    [Inject]
    private IAnnonce annonceService { get; set; }
    
    private Annonce annonce = new();

    private Annonce annoncetoshow = new();
 
    private async Task HandleSubmit()
    {
        Annonce annoncetoadd = new()
        {
            Description = "bla",
            Price = 150, Type = "tøj",
            Size = "M", Color = "red", Image = "no image", Status = "Denied", Sælger_Id = "sælgerid", Køber_Id = "køberid",
            Lokale_Id = "123", lokale = new Lokale { Id = "123", Name = "test", Location = "derhenne", Åbningstid = "123", Bemanding = "ja", Type = "ja", Adgang = "ja" }
        };
        
        Console.WriteLine("handle submit");
        await annonceService.Add(annoncetoadd);
        annoncetoshow = annoncetoadd;
    }
    
}