@using System.Diagnostics
@using Core.Models
@using ClientApp.Service
@using Microsoft.AspNetCore.Components.Forms
@inject IFileService FileService
@inject ILokaler lokaleService
@inject UserState BrugerState
@page "/OpretAnnoncePage"
<h3>Opret Annonce</h3>


<EditForm Model="@annonce" OnValidSubmit="@HandleSubmit" class="row p-3">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="col-md-12 mb-3">
        <label for="Name">Overskrift</label>
        <InputText id="Name" @bind-Value="annonce.Title" class="form-control" />
    </div>

    
    <div class="col-md-12 mb-3">
        <label for="Name">Beskrivelse</label>
        <InputText id="Name" @bind-Value="annonce.Description" class="form-control" />
    </div>
    
    <div class="col-md-6 mb-3">
        <label for="Price">Price</label>
        <InputNumber id="Price" @bind-Value="annonce.Price" class="form-control" />
    </div>
    
    <div class="col-md-12 mb-3">
        <label for="Category">Category</label>
        <InputSelect id="Category" @bind-Value="annonce.Type"> 
            @foreach (var cat in tøjcategories)
            {
                <option value="@cat">@cat</option>
            }
        </InputSelect>
    </div>
    
    <div class="col-md-12 mb-3">
        <label for="Category">Size</label>
        <InputSelect id="Category" @bind-Value="annonce.Size"> 
            @foreach (var cat in sizecategories)
            {
                <option value="@cat">@cat</option>
            }
        </InputSelect>
    </div>
    
    <div class="col-md-12 mb-3">
        <label for="Category">Color</label>
        <InputSelect id="Category" @bind-Value="annonce.Color"> 
            @foreach (var cat in colorcategories)
            {
                <option value="@cat">@cat</option>
            }
        </InputSelect>
    </div>
@if (lokalecategories != null){
    <div class="col-md-12 mb-3">
        <label for="Category">Lokale</label>
        <InputSelect id="Category" @bind-Value="annonce.lokale.Name"> 
            @foreach (var cat in lokalecategories)
            {
                <option value="@cat">@cat</option>
            }
        </InputSelect>
    </div>
}
    
    
    <div class="col-md-12 mb-3">

        <InputFile OnChange="@UploadFile" />

        @if (isUploading)
        {
            <p class="text-muted mt-2">Uploader billede...</p>
        }
        else if (!string.IsNullOrWhiteSpace(statusMessage))
        {
            <p class="text-info mt-2">@statusMessage</p>
        }

        @if (!string.IsNullOrWhiteSpace(annonce.Image))
        {
            <div class="mt-3">
                <label>Valgt billede</label><br />
                <img src="@annonce.Image"
                     alt="Valgt billede"
                     style="width:150px; height:150px; object-fit:cover; border-radius:8px;" />
            </div>
        }
    </div>

    
    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary" >Opret Annonce</button>
    </div>
    
    <div class="col-12 mb-3">
        <button type="reset" class="btn btn-primary">Reset</button>
    </div>
    
</EditForm> 

@code {
    
    private List<string> tøjcategories = new List<string> { "tøj", "bukser", "hat" };
    
    private List<string> sizecategories = new List<string> { "L", "M", "S" };
    
    private List<string> colorcategories = new List<string> { "black", "white", "red" };
    
    private List<Lokale> lokaleload = new List<Lokale> ();

    private List<string> lokalecategories = new List<string>();
    
    [Inject]
    private IAnnonce annonceService { get; set; }
    
    private Annonce annonce = new()
    {
        Title = "Overskrift",
        Description = "Beskrivelse",
        Price = 0, Type = "Type",
        Size = "", Color = "", Image = "", Status = "Aktiv", Sælger_Id = "sælgerid", Køber_Id = "køberid",
        Lokale_Id = "123", lokale = new Lokale {Name = "test", Location = "derhenne", Åbningstid = "123", Bemanding = "ja", Type = "ja", Adgang = "ja" }
    };

    private string statusMessage = "";
    private List<string>? keys;
    
    protected override async Task OnInitializedAsync()
    {
        lokaleload = await lokaleService.GetAll();
        string temp;
        foreach (var lokale in lokaleload)
        {
            temp = lokale.Name;
            lokalecategories.Add(temp);
        }
        
        //hvis der ikke er nogle uploadede billede så breaker koden nedenunder siden
        keys = await FileService.GetAllKeys();
        
    }

    private async Task UploadFile(InputFileChangeEventArgs e)
    {
     
        var file = e.File;
        var stream = file.OpenReadStream(maxAllowedSize: 10_000_000); // fx 10 MB
        
        var res = await FileService.SendFile(file.Name, stream);
        
        statusMessage = res.success 
            ? $"Billede uploadet"
            : $"Fejl: {res.info}";
        
        keys = await FileService.GetAllKeys();
        
        isUploading = false;

        StateHasChanged();
       
    }

    private async Task DeleteFile(string key)
    {
       
        var resp = await FileService.DeleteFile(key);
        
        statusMessage = resp.success ? 
            $"Success! Info fra server:{resp.info}" : 
            $"Fejl: {resp.info}";
        
        keys = await FileService.GetAllKeys();
       
    }

    private void SetAnnonceImage(string key)
    {
        // Sæt annoncen til at bruge valgt billede
        annonce.Image = FileService.ConvertToUrl(key);
    }
 
    private async Task HandleSubmit()
    {
        annonce.Image.ToString();
        if (BrugerState.CurrentUser != null)
        {
            annonce.Sælger_Id = BrugerState.CurrentUser.Id;
        }

        annonce.Status = "aktiv";
        Console.WriteLine(annonce.Color + "<- color");
        Console.WriteLine("handle submit");
        await annonceService.Add(annonce);
        annonce = new Annonce();
    }
    
    private bool isUploading = false;
    
}